<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pi Site API Documentation</title>
</head>
<body>
    <div style='width:400px;margin:auto'>
    <p>/stats - returns a list of all stats </p> 
    <p>/stats/<id> - returns a specific stat's info</p>
    <p>/stats/<id>/data - returns the data from running the specific command</p>
    </div>
</body>
</html>